@model IEnumerable<MyThrillRideTrackerApp5.Models.Park>

@{
    ViewData["Title"] = "Parks";
}

<h1>Parks List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                @if(@item.ImageFiles.Count > 0)
                {
                    <img src="~/images/@item.ImageFiles[0].FileName" style="width: 100%;" />
                } else
                {
                    <img style = "width: 100%" src = "https://via.placeholder.com/150X150?text=No+Image" />
                }

                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)</p>
                    <a asp-action="Edit" asp-route-id="@item.ParkId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ParkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ParkId">Delete</a>
                </div>
            </div>
        </div>
    }
    </div>

